@import 'abstracts/variables.scss';
@import 'abstracts/mixins.scss';
@import 'base/reset.scss';

@import 'components/Heading.scss';
@import 'components/Project.scss';

html {
  width: 100%;
  font-size: 16px;

  @include respond-to('medium') {
    font-size: 18px;
  }

  @include respond-to('large') {
    font-size: 22px;
  }
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 3em;
  width: 100%;
  color: $textColor;
  font-family: $font;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

html, body {
  background: $bg;
}

h3 {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1;
  margin: 2em 0 0;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt", "dlig";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt", "dlig";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "dlig";
  font-feature-settings: "kern", "liga", "clig", "calt", "dlig";
}

.section {
  overflow: hidden;
  transition: max-height 0.2s ease-out, opacity 0.2s ease-out;
}

.gallery {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($bg, 0.95);

  &__image {
    position: absolute;
    top: 2rem;
    left: 2rem;
    right: 2rem;
    bottom: 2rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

p {
  font-size: 1rem;
  max-width: 30rem;
  // margin: 1em auto;
  // margin-left: 2rem;
  margin: 1em auto;
  line-height: 1.45;
  -moz-font-feature-settings: "onum", "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "onum", "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "onum", "kern", "liga", "clig", "calt";
  font-feature-settings: "onum", "kern", "liga", "clig", "calt";

  .ntf {
    -moz-font-feature-settings: "lnum", "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "lnum", "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "lnum", "kern", "liga", "clig", "calt";
    font-feature-settings: "lnum", "kern", "liga", "clig", "calt";
  }
}

ul {
  padding: 0;
  max-width: 30rem;
  margin: 0 auto;

  li {
    margin: 0.5em 0;
  }
}

.nav {

  a {
    box-shadow: none;
    border-bottom: none;
    font-size: 0.9rem;
    color: $captionColor;

    &:hover {
      color: $linkText;
    }
  }


  &__num {
    display: inline-block;
    font-size: 0.75em;
    // text-align: right;
    -moz-font-feature-settings: "tnum";
    -ms-font-feature-settings: "tnum";
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum";
  }


  @include respond-to('large') {
    margin: 0;
    position: fixed;
    left: 1rem;
    top: 50%;
    margin-top: -75px;
    list-style: none;

    li {
      margin: 0;
    }
  }
}

a {
  color: $linkText;
  text-decoration: none;
  border-bottom: 1px solid $linkColor;
  box-shadow: inset 0 -4px 0 $linkColor;
  transition: background 0.3s ease-out;
  background: white;

  &:hover {
    background: $linkColor;
  }
}

.container {
  max-width: 34rem;
  margin: 0 auto;
  padding: 1em;
}